<row class="collapsed blog">
  <columns>
    <row class="collapse">
      <columns small="6">
        <h4>Güncel Yazılar:</h4>
      </columns>
      <columns small="1">
        <a href="https://bilimkutusu.com/tr_TR/blog/" class="blog-seeall"
          >Tümünü Gör</a
        >
      </columns>
    </row>

    {{#each data.blogs}}
    <row>
      <columns large="6">
        <a href="{{ this.url }}">
          <img class="thumbnail" style="width: 250px" src="{{ this.img }}" />
        </a>
      </columns>
      <columns large="6">
        <a href="{{ this.url }}">
          <h3>{{ this.title }}</h3>
        </a>
        <p>
          {{ this.content }}
          <a href="{{ this.url }}">Devamını oku</a>
        </p>
      </columns>
    </row>
    {{/each}}
  </columns>
</row>
