<row class="collapsed blog">
  <columns>
    <row class="collapse">
      <columns small="6">
        <h4>Güncel Yazılar:</h4>
      </columns>
      <columns small="2">
        <a href="https://bilimkutusu.com/tr_TR/blog/?utm_source=see_all&utm_medium=email&utm_campaign={{ utm_campaign }}" class="blog-seeall">Tümünü Gör</a>
      </columns>
    </row>

    {{#each data.blogs}}
    <row>
      <columns large="6">
        <a href="{{ this.url }}">
          <img class="thumbnail" style="width: 250px" src="{{ this.img }}" />
        </a>
      </columns>
      <columns large="6">
        <a href="{{ this.url }}">
          <h3>{{ this.title }}</h3>
        </a>
        <p>
          {{ this.content }}
        </p>
        <a href="{{ this.url }}">Devamını oku</a>
      </columns>
    </row>
    <br><br>
    {{/each}}
  </columns>
</row>
