<row class="collapsed blog">
  <columns>
    <row class="collapse">
      <columns small="6">
        <h4>Güncel Yazılar:</h4>
      </columns>
      <columns small="1">
        <a href="https://bilimkutusu.com/tr_TR/blog/" class="blog-seeall"
          >Tümünü Gör</a
        >
      </columns>
    </row>

    {-#each blogs-}
    <row>
      <columns large="6">
        <a href="{- url -}">
          <img class="thumbnail" style="width: 250px" src="{- img -}" />
        </a>
      </columns>
      <columns large="6">
        <a href="{- url -}">
          <h3>{- title -}</h3>
        </a>
        <p>
          {- content -}
          <a href="{- url -}">Devamını oku</a>
        </p>
      </columns>
    </row>
    {-/each-}
  </columns>
</row>
