<row class="collapsed footer">
  <columns>
    <spacer size="16"></spacer>
    <p class="text-center">
      {{ data.footer.copyright }}<br />
      {{#each data.footer.menu}}
      <a href="{{ this.url }}">{{ this.text }}</a>
      {{/each}}
    </p>
    <center>
      <menu class="footer-social">
        {{#each data.footer.social}}
        <item href="{{ this.url }}"><img src="{{ root }}{{ this.img }}"/></item>
        {{/each}}
      </menu>
    </center>
    {{#if unsubscribe}}
    <spacer size="16"></spacer>
    <p class="text-center">
      <small
        >Bu e-postayı bizden güncelleme almak için kaydolduğunuz için aldınız.
        <br /><a href="http://bk.local/tr_TR/unsubscribe/"
          >Üyelikten çıkmak için buraya tıklayın.</a
        ></small
      >
    </p>
    {{/if}}
  </columns>
</row>
