<row class="collapsed products">
    <columns large="4">
        <center class="product">
            <img src="{{ data.asseturl }}{{ data.footerProduct_1.img }}"/>
        </center>
        <h5 class="text-center">{{data.footerProduct_1.name}}</h5>
        <h6 class="text-center product-subtitle">{{data.footerProduct_1.subTitle}}</h6>
        <button
                class="product-button expand"
                href="{{data.footerProduct_1.url}}?utm_source=button&utm_medium=email&utm_campaign={{ utm_campaign }}"
        ></button>
    </columns>
    <columns large="4">
        <center class="product">
            <img src="{{ data.asseturl }}{{ data.footerProduct_2.img }}"/>
        </center>
        <h5 class="text-center">{{data.footerProduct_2.name}}</h5>
        <h6 class="text-center product-subtitle">{{data.footerProduct_2.subTitle}}</h6>
        <button
                class="product-button expand"
                href="{{data.footerProduct_2.url}}?utm_source=button&utm_medium=email&utm_campaign={{ utm_campaign }}"
        ></button>
    </columns>
    <columns large="4">
        <center class="product">
            <img src="{{ data.asseturl }}{{ data.footerProduct_3.img }}"/>
        </center>
        <h5 class="text-center">{{data.footerProduct_3.name}}</h5>
        <h6 class="text-center product-subtitle">{{data.footerProduct_3.subTitle}}</h6>
        <button
                class="product-button expand"
                href="{{data.footerProduct_3.url}}?utm_source=button&utm_medium=email&utm_campaign={{ utm_campaign }}"
        ></button>
    </columns>
</row>
